/* EventDetails.module.css */
.eventDetails {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.category {
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.date,
.address,
.price,
.creator {
  margin-bottom: 10px;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center; 
}

.counter {
  margin-left: 5px; 
}

.redHeart {
  color: red;
  font-size: 24px; 
  cursor: pointer; 
  margin: 20px; 
}

.redHeart:hover {
  color: #ff5555; 
}

.borderHeart {
  font-size: 24px; 
  cursor: pointer; 
  margin: 20px; 
}

.borderHeart:hover {
  color: #ff5555; 
}

.imageContainer {
  position: relative;
  margin-bottom: 20px; 
}

.eventImage {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.arrowIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #ff0000;
  cursor: pointer;
  z-index: 1;
}

.arrowIcon:hover {
  color: #ff5555;
}

.arrowIcon.right {
  right: 10px; 
}

.arrowIcon.left {
  left: 10px;
}
