/* EventDetails.module.css */
.eventDetails {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.category {
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.date,
.address,
.price,
.creator {
  margin-bottom: 10px;
  font-size: 16px;
}

/* EventDetails.module.css */
.redHeart {
  color: red;
  font-size: 24px; /* Tamanho do ícone */
  cursor: pointer; /* Cursor ao passar o mouse */
  margin: 20px; /* Margem ao redor do ícone */
}

.redHeart:hover {
  color: #ff5555; /* Cor ao passar o mouse */
}

/* EventDetails.module.css */
.redHeart {
  font-size: 24px; /* Tamanho do ícone */
  cursor: pointer; /* Cursor ao passar o mouse */
  margin: 20px; /* Margem ao redor do ícone */
  color: red; /* Cor do ícone */
}

.redHeart:hover {
  color: #ff5555; /* Cor ao passar o mouse */
}

.borderHeart {
  font-size: 24px; /* Tamanho do ícone */
  cursor: pointer; /* Cursor ao passar o mouse */
  margin: 20px; /* Margem ao redor do ícone */
}

.borderHeart:hover {
  color: #ff5555; /* Cor do ícone ao passar o mouse */
}


.backLink {
  color: #ff0000;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
}

.backIcon {
  font-size: 18px;
  margin-right: 5px;
}

.imageContainer {
  position: relative;
  margin-bottom: 20px; 
}

.eventImage {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.arrowIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #ff0000;
  cursor: pointer;
  z-index: 1;
}

.arrowIcon:hover {
  color: #ff5555;
}

.arrowIcon.right {
  right: 10px; 
}

.arrowIcon.left {
  left: 10px;
}
