.LogIn {
  position: relative;
  width: 500px;
  height: auto;
  margin: 50px auto;
}

.LogIn button[type="submit"] {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 15px 20px;
  font-size: 18px;
  width: 100%;
}

.form input[type="text"], 
.form input[type="password"]{
  height: 40px;
  width: 97%;
}

.eyeIcon {
  position: absolute;
  top: 43%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.eyeIcon:hover {
  color: #af2431;
}
