.container {
  position: relative;
  width: 700px;
  height: auto;
  margin: 50px auto;
}

.form textarea {
  min-width: 97%;
  max-width: 97%; 
  min-height: 150px;
}

.form input {
  height: 40px;
  width: 97%;
}

.select2{
  width: 99%;
  height: 40px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.inputWrapper input[type="datetime-local"] {
  width: calc(50% - 10px); 
  margin-right: 10px; 
  margin-left: 10px; 
}

.inputWrapper input[type="number"] {
  width: calc(50% - 5px); 
  margin-right: 10px; 
}

.p{
  font-size: 16px;
  margin-bottom: 26px;
}

.fileInput {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
}

.imageWrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px; 
  margin-bottom: 10px; 
}

.image {
  width: 150px; 
  height: 100px;
  border-radius: 5px;
}

.removeButton {
  position: absolute;
  top: 5px;
  right: 5px; 
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.removeButton:hover {
  background-color: #af2431;
  opacity: 0.8;
}

.buttonSubmite {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 15px 20px;
  font-size: 18px;
  width: 100%;
}

