.cartoes {
    margin: auto 200px;
    margin-bottom: 50px;
    text-align: center;
}

.search-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.inputField {
    height: 30px;
    width: 30%;
}

.select{
    margin-left: 30px;
    width: 20%;
    height: 30px;
}

.Arrow {
    background-color: transparent;
    color: #e6e6e6;
    cursor: pointer;
    border: 0;
    font-size: 50px;
    left: 50%;
    text-shadow: 25px 25px 50px #121212;
}

.Arrow:hover {
    color: #af2431;
    transition: 0.3s;
}