.body {
  margin-top: 110px;
  position: fixed;
  top: 0;
  left: 0;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  z-index: 0;
  color:aliceblue;
  background-color: #2f2f2f;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}

/* PopUp */

.modal {
  width: 500px;
  border-radius: 10px;
  position: fixed;
  height: auto;
  background-color: white;
}

.close {
  position: relative;
  top: 10px;
  cursor: pointer;
  opacity: 1;
}
