/* menu */

.header-line {
    background-color: #121212;
    height: 110px;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    position: fixed;
    align-items: center;
    display: flex;
  }
  
  .home {
    width: 200px;
    margin-left: 4px;
    cursor: pointer;
    padding: 0;
    height: 100%;
    border: none;
    background-image: url("../../assets/ExpBraLogo.png");
    background-color: #121212;
    background-position: center;
    background-size: 100%;
    z-index: 1;
  }
  
  .header-line .home:active {
    opacity: 0.5; 
  }
  
  .menu-info {
    height: auto;
    display: flex;
    position: fixed;
    right: 40%;
  }
  
  .data {
    height: auto;
    font-size: 20px;
    color: #d9d9d9;
    margin-left: 10px;
  }
  
  .temperatura {
    height: auto;
    font-size: 20px;
    margin-left: 5px;
    display: flex;
  }
  
  .menu-links {
    height: auto;
    display: flex;
    position: fixed;
    right: 20px;
  }
  
  .menu-links a {
    color: #d9d9d9;
    font-size: 20px;
    text-decoration: none;
    margin-left: 40px;
  }
  
  .menu-links a:hover {
    color: #af2431;
    transition: 0.7s;
  }
  
  .menu-links a:active {
    transition: 0.2s;
    color: #121212;
  }
  
  .menu-drop {
    position: fixed;
    right: -4%;
    visibility: hidden;
    color: #d9d9d9;
    cursor: pointer;
    background-color: #121212;
    border: none;
    font-size: 35px;
    z-index: 1;
  }
  
  .menu-drop:hover {
    opacity: 0.5;
    color: #af2431;
  }
  
  .menu-tabela {
    overflow: scroll;
    padding-top: 50px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 110px;
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    align-items: center;
    gap: 25px;
    transform: translateX(100%);
    transition: transform 0.7s ease
  }
  
  .menu-tabela.open{
    transform: translateX(0);
  }
  
  .menu-tabela a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: #121212;
    font-size: 30px;
    width: 90%;
  }
  
  .menu-tabela a:hover {
    color: #af2431;
    transition: 0.7s;
  }
  
  .menu-tabela-button {
    background-color: #d9d9d9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: 100px;
    align-items: center;
  }
  
  /* Upper Line */
  
  .upper-line {
    width: 100%;
    margin-top: 110px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: auto;
    border: none;
    border: 1px solid #af2431;
    z-index: 99;
  }

  @media only screen and (max-width: 1020px) {
    .data {
      visibility: hidden;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .temperatura {
      visibility: hidden;
    }
  
    .menu-links {
      visibility: hidden;
    }
  
    .menu-drop {
      visibility: visible;
      margin-right: 7%;
    }
  
    .menu-tabela {
      visibility: visible;
    }
}