.events {
  margin: auto 100px;
  margin-bottom: 50px;
  text-align: center;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.inputField {
  height: 30px;
  width: 50%;
}

.button-text {
  font-size: 16px;
  cursor: pointer;
}

.button-text:hover {
  color: #af2431;
}

/* Estilos para o modal */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.ReactModal__Content {
  outline: none;
  position: relative;
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  border-radius: 10px; 
  padding: 20px; 
  max-width: 80%; 
  max-height: 80%; 
  overflow-y: auto; 
}

.search-container {
  margin: 20px;
}


.close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #000000;
}

.calendarioE {
  width: 99%;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #af2431;
}

.Arrow {
  background-color: transparent;
  color: #e6e6e6;
  cursor: pointer;
  border: 0;
  font-size: 50px;
  left: 50%;
  text-shadow: 25px 25px 50px #121212;
}

.Arrow:hover {
  color: #af2431;
  transition: 0.3s;
}